.listWrapper {
  display: flex;
  justify-content: center;
}
.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listHeader {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.listHeader button {
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  background-color: #7c3aed;
  padding: 6px 12px;
  border-radius: 6px;
}

.item {
  background-color: #fff;
  min-width: 20rem;
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 20px;
}
.item a {
  text-decoration: none;
}
.item .link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}
.item button {
  width: 60px;
  cursor: pointer;
  outline: none;
  color: #dc2626;
  border: 1px solid #dc2626;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
}
.item .editBtn {
  margin-right: 1rem;
  border: 1px solid #7c3aed;
  color: #7c3aed;
}
.item img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
