.listWrapper {
  display: flex;
  justify-content: center;
}
.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listHeader {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.listHeader button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background-color: #f4f4f5;
  color: #7c3aed;
  outline: none;
  border: 2px solid #7c3aed;
  padding: 12px;
  border-radius: 50%;
}
input {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
  width: 15rem;
  height: 3rem;
  padding: 6px 12px;
  font-size: 14px;
}
input:focus {
  border: 2px solid #7c3aed;
}
.item {
  background-color: #f4f4f5;
  min-width: 20rem;
  width: 12rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 20px;
}
.item a {
  text-decoration: none;
}
.item .link {
  display: flex;
  flex-direction: column;
  height: 42px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 5px;
  color: #000;
}
.item button {
  width: 42px;
  height: 42px;
  cursor: pointer;
  outline: none;
  color: #dc2626;
  background: none;
  border: none;
  padding: 2px 4px;
}
.item .editBtn {
  color: #7c3aed;
}
.item img {
  width: 36px;
  height: 36px;
  margin-right: 6px;
}
@media only screen and (min-width: 768px) {
  .item {
    width: 30rem;
  }
}
